.recipe-section {
  margin: 1.25rem 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-button {
  background-color: var(--primary-green);
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.recipe-list {
  display: flex;
  gap: 15px;
  margin-top: 1rem;
}

.view-all-button:hover {
  transform: scale(1.25);
}

.title {
  color: var(--primary-green);
}
