.comments-AdminList {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20rem;
}

.comments-AdminTitle {
  text-align: center;
  margin-bottom: 20px;
}

.comments-AdminCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-AdminCard {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--secondary-green);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
  text-align: center;
}

.comment-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  cursor: pointer;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.see-more-button {
  box-shadow: 2px 2px 2px 2px #bababa;
  padding: 0.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 3rem auto;
}

.see-more-button:active {
  transform: scale(1.03);
}

.back-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content {
  background-color: var(--secondary-green);
  border-radius: 8px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.modal-content-button-yes {
  background-color: var(--primary-green);
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 2rem;
  width: 5rem;
}

.modal-content-button-no {
  background-color: var(--primary-brown);
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 2rem;
  width: 5rem;
}

@media (min-width: 768px) {
  .comments-AdminCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .comments-AdminCard {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: auto;
  }

  .comments-AdminCard:hover {
    transform: scale(1.03);
  }

  .comment-details {
    align-items: center;
    padding: 10px;
  }

  .delete-button {
    top: auto;
    bottom: 10px;
    right: 10px;
  }

  .back-button {
    width: 12rem;
    padding: 1rem;
  }

  .back-button:active {
    transform: scale(1.03);
  }
}
