.recipe-AdminList {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.recipe-AdminTitle {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-AdminCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-AdminCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--secondary-green);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
  height: auto;
  overflow: hidden;
}

.recipe-AdminImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.recipe-details {
  flex: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-AdminCard .delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.back-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .recipe-AdminCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .recipe-AdminCard {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 300px;
  }
  .recipe-AdminCard:hover {
    transform: scale(1.03);
  }

  .recipe-AdminImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .recipe-details {
    align-items: center;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recipe-AdminCard .delete-button {
    top: auto;
    bottom: 10px;
    right: 10px;
  }
  .back-button {
    width: 12rem;
    padding: 1rem;
  }
  .back-button:active {
    transform: scale(1.03);
  }
}
