.dashboard-container {
  margin-top: 1rem;
  text-align: center;
  padding: 20px;
}

.dashboard-container > h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--title-font);
}

.dashboard-container .card-flex {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-Admin {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-brown);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-Admin > p {
  font-weight: bold;
  font-family: var(--lorem-font);
}

.card-Admin:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-Admin:nth-child(even) {
  background-color: var(--secondary-green);
}

.Return-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-green);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.Return-button:hover {
  transform: scale(1.05);
}

@media (min-width: 1024px) {
  .dashboard-container {
    margin-top: 2rem;
    padding: 30px;
  }

  .dashboard-container > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .dashboard-container .card-flex {
    gap: 10rem;
  }

  .card-Admin {
    width: 12.5rem;
    height: 12.5rem;
  }

  .Return-button {
    font-size: 1.5rem;
  }

  .Return-button:hover {
    transform: scale(1.05);
  }
}
