.personal-info {
  display: flex;
  padding: 0.6rem;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.personal-info > h2 {
  color: var(--primary-green);
}

.personal-info > .form-info {
  display: flex;
  height: 1.9rem;
  padding: 0rem 0.6rem;
  align-items: center;
  gap: 0.6rem;
  align-self: stretch;
}

.personal-info > .notification {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.personal-info > .notification > .success {
  color: var(--primary-green);
  background-color: var(--secondary-green);
  border: 1px solid var(--secondary-green);
}

.personal-info > .notification > .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
