.UserReception {
  display: flex;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 0.6rem;
  align-self: stretch;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.UserReception .Left {
  display: flex;
  width: 7rem;
  height: 7rem;
  padding: 0.6rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.UserReception .Left img {
  width: 6rem;
}

.UserReception .Left img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.UserReception .Right {
  display: flex;
  height: 6rem;
  width: 10rem;
  border-radius: 8px;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary-green);
  padding: 0.5rem;
}

.UserReception > .Right > .top {
  height: auto;
  color: var(--primary-black);
  text-align: center;
  font-family: var(--title-font);
  font-size: 0.8rem;
  font-weight: 700;
}

.UserReception > .Right > .bottom {
  display: flex;
  padding: 0.06rem 0.6rem;
  flex-direction: column;
}

.UserReception > .Right > .bottom > p {
  color: var(--primary-black);
  font-family: (var(--lorem-font));
  font-size: 0.6rem;
  font-weight: 300;
  margin: 0;
}
