.le-buffet-container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-bottom: 10rem;
}

.le-buffet-container > h1 {
  text-align: center;
  color: var(--primary-brown);
  margin-top: 3rem;
  font-size: 5rem;
}

.le-buffet-container > p {
  color: var(--primary-brown);
  min-width: 10rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.Buffet-quote {
  min-width: 10rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 6rem;
  background-color: #fff;
  background-image: url(../../assets/images/buffet-quote.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish-section {
  margin-top: 40px;
  text-align: center;
}

.dish-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.dish-section > h2 {
  color: var(--primary-green);
  font-family: var(--title-font);
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-thickness: 0.4em;
  text-decoration-color: #aee18d;
  text-underline-offset: 0.4em;
  margin-bottom: 2rem;
}
.selected-recipe {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.selected-recipe > button {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: var(--primary-brown);
  color: var(--secondary-brown);
}

@media (min-width: 768px) {
  .dish-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Buffet-quote {
    width: 50%;
  }
  .le-buffet-container > p {
    width: 60%;
  }
  .dish-section > h2 {
    font-size: 6rem;
  }
}
