.dish-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 2px 2px 2px 2px #bababa;
  background-color: #fff;
  text-align: center;
  width: 100%;
  max-width: 25rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dish-card:hover img {
  transform: scale(1.03);
}

.dish-banner {
  width: 100%;
  max-width: 25rem;
}

.dish-image {
  width: 100%;
  height: 15rem;
  border-radius: 8px;
  object-fit: cover;
}

.dish-image + h3 {
  margin: 10px 0;
  font-family: var(--title-font);
  color: var(--primary-brown);
}

.dish-image ~ p {
  letter-spacing: 0.05em;
  font-family: var(--lorem-font);
}
.dish-card > button {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: var(--primary-brown);
  color: var(--secondary-brown);
}
