.buffet {
  background: var(--secondary-brown);
  display: flex;
  height: auto;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.buffet > img {
  display: none;
}

.buffet > .description > h2 {
  color: var(--primary-brown, #640);
  font-family: var(--title-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  padding-top: 10px;
}

.buffet > .description > p {
  display: flex;
  width: 21.625rem;
  height: 12.875rem;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-brown, #640);
  text-align: center;
  font-family: var(--lorem-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.buffet > .description > a {
  display: flex;
  padding: 8px 32px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  background: var(--primary-green);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  max-width: 100%;
  margin-bottom: 1rem;
  text-decoration: none;
}

.buffet > .description > a > button {
  font-family: var(--title-font);
  font-size: 1.25rem;
  color: var(--secondary-green);
  padding: 0;
}

.buffet > .description > a > button:active {
  transform: scale(1.03);
}

@media screen and (min-width: 1024px) {
  .buffet {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
  }

  .buffet > img {
    display: flex;
  }

  .buffet > .description > p {
    color: var(--primary-brown, #640);
    width: 40rem;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
}
