div.reception > .left {
  display: flex;
  width: 22rem;
  height: fit-content;
  max-width: 43.75rem;
  padding: 0.625rem;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}
div.reception > .left > h1 {
  color: var(--primary-green);
  text-align: center;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  margin: 0;
}

.search_box {
  display: flex;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 1px solid var(--primary-black, #010101);
  background: #ffff;
}

.search_box > input {
  border: 0;
  background-color: transparent;
}

.search_box > input::placeholder {
  font-family: var(--lorem-font);
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-weight: 400;
}

.search_box > img {
  width: 26px;
  height: 23px;
  flex-shrink: 0;
  background-color: transparent;
}

div.reception > .left {
  margin: auto;
}

div.reception > .left > article {
  display: flex;
  height: fit-content;
  max-width: 31.25rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--secondary-green, #ecfae3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--lorem-font);
  font-size: 0.875rem;
  line-height: 1.6875rem;
  text-align: center;
  color: var(--primary-green);
}

.reception > .right {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 25rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.modal .modal_content img {
  width: 100px;
  height: 95px;
  border-radius: 16px;
  object-fit: cover;
}

.modal_content > ul {
  list-style: none;
}

.modal_content > ul > li > a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1em;
  text-decoration: none;
  color: var(--primary-black);
  font-family: var(--lorem-font);
}

.close {
  position: relative;
  left: 22rem;
  position: relative;
  bottom: 1.2rem;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .reception {
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  div.reception > .left {
    display: flex;
    margin: 0;
    max-width: 43.75rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  div.reception > .left > h1 {
    width: 43.0625rem;
    color: var(--primary-green, #2f5b12);
    font-family: var(--title-font);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.0625rem;
    text-align: left;
  }
  div.reception > .left > article {
    align-self: stretch;
    display: flex;
    width: 28.25rem;
    text-align: left;
  }
  div.reception > .right {
    display: flex;
    width: 36rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.8125rem 3.6875rem;
    align-self: stretch;
    flex-wrap: wrap;
    margin-left: 11rem;
  }
}
