.Recipe-card {
  display: flex;
  margin: auto;
  width: 23rem;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  background: #ffff;
  border-radius: 0.5rem;
}

.Recipe-card > h2 {
  margin: 0;
  display: flex;
  width: 100%;
  padding: 2rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-brown);
  color: var(--primary-brown);
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.Recipe-card > section {
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
}

.Recipe-card > section > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-black);
  font-family: var(--title-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  margin: 0;
}

.Recipe-card > section > div {
  width: 7.6875rem;
  height: 0.3125rem;
  background: var(--secondary-brown, #fdf1e3);
}

.card {
  width: 298px;
  color: var(--primary-black);
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  background-color: transparent;
  padding-bottom: 1rem;
}

.card > p {
  color: var(--primary-black, #010101);
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  background-color: transparent;
}

@media (min-width: 768px) {
  .Recipe-card {
    display: flex;
    width: 56rem;
    height: 24rem;
    align-items: flex-start;
    gap: 0.6rem;
  }
  .card {
    display: flex;
    align-items: center;
  }
}
