form.auth {
  display: flex;
  margin: 5rem auto;
  width: 28.125rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  background: var(--rose, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form.auth select {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background: var(--thirty-white, #f5f5f5);
  width: 100%;
}

form.auth > h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  text-decoration-line: underline;
}

form.auth > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.auth > div > section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form.auth label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

form.auth input {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background: var(--thirty-white, #f5f5f5);
}

form.auth input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
}

form.auth > button {
  display: flex;
  padding: 0.5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--rose, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--primary-font, #000);
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 400;
}

form.auth > a {
  font-family: Poppins;
  text-decoration-line: underline;
}
