footer {
  position: relative;
  background: var(--thirty-green, #ecfae3);
  width: 100%;
  height: auto;
  padding-top: 20px;
  margin-top: 2rem;
}

footer > section > p {
  font-family: var(--lorem-font);
  font-size: 16px;
}

footer .Download-links {
  display: flex;
  padding: 0.625rem;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

footer > section.Newsletter {
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2.5rem;
}

footer > section.Newsletter > section > h2 {
  color: var(--primary-green, #2f5b12);
  font-family: var(--title-font);
  font-size: 1.1rem;
  font-weight: 700;
}

footer > section.Newsletter > section > p {
  text-align: center;
  color: var(--primary-green, #2f5b12);
  font-family: var(--lorem-font);
  font-weight: 500;
  margin: 0 auto;
}

footer > section.Newsletter > section > input {
  width: 75%;
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

footer > section.Newsletter > section > input::placeholder {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--lorem-font);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

footer > section > h2 {
  color: var(--primary-green, #2f5b12);
}

footer > section > input {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--lorem-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}

footer > section.Download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .links {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  text-decoration: underline;
  font-size: 1.5rem;
  color: var(--primary-green, #2f5b12);
}

footer .links > p {
  font-size: 1rem;
}

section .links h3 {
  color: var(--primary-green, #2f5b12);
  font-family: var(--title-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
}

section .links p {
  color: var(--primary-green, #2f5b12);
  font-family: var(--lorem-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.social-icons {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 17.875rem;
  padding: 0.625rem 1.6875rem;
  align-items: flex-end;
  gap: 1.25rem;
  flex-shrink: 0;
}

section > button {
  display: flex;
  margin: 0 auto;
  padding: 8px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-green, #2f5b12);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
}

@media screen and (min-width: 1280px) {
  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 397px;
    align-items: flex-start;
  }

  footer > section.Newsletter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44.4375rem;
    padding: 0.625rem;
    gap: 1.375rem;
    margin-top: 0rem;
  }

  footer > section.Newsletter > section > h2 {
    font-size: 2rem;
  }

  footer > section.Newsletter > section > p {
    text-align: left;
  }

  footer > section.Newsletter > section > input {
    width: 100%;
    margin-bottom: 2.5rem;
  }

  footer > section.Download {
    width: fit-content;
    height: 100%;
    padding: 0.5625rem 0rem;
    justify-content: space-between;
    align-items: flex-end;
  }

  footer .links {
    margin-top: 0rem;
    padding: 0.625rem 1.25rem;
    align-items: flex-start;
    align-self: stretch;
  }

  footer .links > p {
    font-size: 1.25rem;
  }

  footer > section.Download .Download-links {
    height: 164px;
    padding: 50px;
    justify-content: center;
    align-self: stretch;
  }

  .social-icons {
    flex-direction: row;
    width: 17.875rem;
    height: 10rem;
    padding: 3.625rem 1.6875rem;
  }

  section > button {
    padding: 8px 32px;
    gap: 10px;
  }
  section > button:active {
    transform: scale(1.03);
  }
}
