@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-font: #000;
  --primary-green: #2f5b12;
  /* références couleurs */

  --primary-white: #f5f5f5;
  --primary-green: #2f5b12;
  --secondary-green: #ecfae3;
  --primary-black: #010101;
  --primary-brown: #664400;
  --secondary-brown: #fdf1e3;

  /* font*/

  --title-font: "Poppins";
  --lorem-font: "Montserrat";
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#root > main {
  background: var(--primary-white, #f5f5f5);
  min-height: 100%;
  margin: 0;
  background: var(--primary-white);
  font-family: var(--title-font);
}

a,
a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input {
  border: 0;
}
