nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 100;
}

nav + hr {
  width: 50%;
  margin: auto;
}

nav img {
  width: 2.5rem;
}

nav > section {
  display: none;
}

nav .menu section {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

nav a {
  color: var(--primary-green, #2f5b12);
  font-size: 1.25rem;
}

nav .menu section > a {
  font-weight: 600;
}

nav .menu section > a:nth-child(3) {
  margin-bottom: 3rem;
}

nav .menu section > button:has(img) {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav .menu section > button:has(img) > img {
  width: 3rem;
}

nav button:not(:has(img)) {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2.5rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--primary-green, #2f5b12);
  box-shadow: 0px 4px 4px 0px var(--primary-green, #2f5b12);
  color: var(--thirty-green, #ecfae3);
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 400;
}

nav button:has(:not(img)) {
  background: var(--thirty-white, #f5f5f5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: red;
}

nav > section > span {
  display: none;
}

.user-avatar {
  width: 3rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  nav {
    padding: 0.625rem 2rem;
  }

  nav > a > img {
    width: 4.0625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav > section {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    gap: 2.5rem;
  }

  nav .menu > button:has(img) {
    display: none;
  }
}
