.Countain {
  padding-top: 0.01rem;
  margin-top: 1rem;
}

.card-recipe-orange {
  background-color: var(--secondary-brown);
  padding-bottom: 0.01rem;
  box-shadow: 1px 5px 5px 0px #bababa;
}

.Pseudo-Avatar {
  margin: 2rem 0 1rem 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font: var(--lorem-font);
  font-weight: 500;
}
.Pseudo-Avatar > img {
  width: 40px;
  height: 40px;
}
.dishes {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 16px;
}

.imageRecipeInstruction {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Difficulty-Heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.delete-recipe-btn {
  border-radius: 8px;
  background-color: red;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  color: white;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.difficulty-name {
  margin-top: 0.5rem;
  text-align: center;
}

.Difficulty-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ratings {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Desciption-recipe {
  text-align: center;
  padding: 0.5rem;
}

.card-recipe-green {
  margin-top: 2rem;
  background-color: var(--secondary-green);
  box-shadow: 1px 5px 5px 0px #bababa;
}

.Gant-Four {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.gant-de-cuisson {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ingredients {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.Ingredients h2 {
  text-align: center;
  color: var(--primary-green);
}

.Liste-Ingredients {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  max-width: 500px;
  margin: auto;
  justify-items: start;
  text-align: left;
}

.Recette-green {
  background-color: var(--secondary-green);
  padding: 1rem;
  box-shadow: 1px 5px 5px 0px #bababa;
}

.Recette > h2 {
  text-align: center;
  color: var(--primary-green);
}

.Etape-Global {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}

.Etape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Smiley-Langue {
  background-color: var(--secondary-brown);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 1px 5px 5px 0px #bababa;
}

.CommentSection {
  margin-top: 2rem;
  background-color: var(--secondary-brown);
  margin: 1rem;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 1px 5px 5px 0px #bababa;
}

.CommentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CommentForm textarea {
  padding: 20px;
  border-radius: 8px;
}

.CommentForm button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-green);
  color: white;
  cursor: pointer;
}

.CommentForm button:active {
  transform: scale(1.03);
}

.CommentList {
  margin-top: 20px;
}

.CommentItem {
  border-radius: 8px;
  box-shadow: 1px 5px 5px 0px #bababa;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.CommentItem p {
  margin: 0;
  text-align: center;
}

.CommentItem h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.CommentItem small {
  display: block;
  color: #777;
  font-size: 0.9em;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .card-recipe-orange,
  .card-recipe-green,
  .Recette-green,
  .Smiley-Langue {
    max-width: 50%;
    margin: 2rem auto;
    border-radius: 24px;
  }
  .dishes {
    max-width: 50%;
  }
  .CommentSection {
    width: 50%;
    margin: 0 auto;
  }
  .CommentForm button {
    width: 5rem;
    margin: 0 auto;
  }
  .Liste-Ingredients {
    max-width: 50%;
    text-align: center;
    padding: 1rem;
    align-items: center;
    margin: auto;
  }
  .Smiley-Langue:hover img {
    transform: scale(1.13);
  }
}
