.Countain {
  padding-top: 0.01rem;
  margin-top: 1rem;
}

.card-recipe-orange {
  background-color: var(--secondary-brown);
}

.Pseudo-Avatar {
  margin: 2rem 0 1rem 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font: var(--lorem-font);
  font-weight: 500;
}
.Pseudo-Avatar > img {
  width: 40px;
  height: 40px;
}
.dishes {
  display: flex;
  justify-content: center;
}

.Difficult-Heart {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.ratings {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Desciption-recipe {
  text-align: center;
  padding: 0.5rem;
}

.card-recipe-green {
  margin-top: 2rem;
  background-color: var(--secondary-green);
}

.Gant-Four {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.gant-de-cuisson {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ingredients {
  margin-top: 1rem;
}

.Ingredients h2 {
  text-align: center;
}

.Liste-Ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 1rem;
}

.Recette h2 {
  text-align: center;
}

.Etape-Global {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}

.Etape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Smiley-Langue {
  background-color: var(--secondary-brown);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 1rem;
}
