.Countain {
  padding-top: 0.01rem;
  margin-top: 1rem;
}

.card-recipe-orange {
  background-color: var(--secondary-brown);
  padding-bottom: 0.01rem;
}

.Pseudo-Avatar {
  margin: 2rem 0 1rem 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font: var(--lorem-font);
  font-weight: 500;
}
.Pseudo-Avatar > img {
  width: 40px;
  height: 40px;
}
.dishes {
  display: flex;
  justify-content: center;
}

.Difficulty-Heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.delete-recipe-btn {
  border-radius: 8px;
  background-color: red;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  color: white;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.difficulty-name {
  margin-top: 0.5rem;
  text-align: center;
}

.Difficulty-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ratings {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Desciption-recipe {
  text-align: center;
  padding: 0.5rem;
}

.card-recipe-green {
  margin-top: 2rem;
  background-color: var(--secondary-green);
}

.Gant-Four {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.gant-de-cuisson {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ingredients {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.Ingredients h2 {
  text-align: center;
  color: var(--primary-green);
}

.Liste-Ingredients {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 20px;
  max-width: 500px;
  margin: 2rem -1rem 2rem 10rem;
  justify-items: left;
  text-align: left;
}

.Recette-green {
  background-color: var(--secondary-green);
  padding: 1rem;
}

.Recette > h2 {
  text-align: center;
  color: var(--primary-green);
}

.Etape-Global {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}

.Etape {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Smiley-Langue {
  background-color: var(--secondary-brown);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .card-recipe-orange,
  .card-recipe-green,
  .Recette-green,
  .Smiley-Langue {
    max-width: 50%;
    margin: 2rem auto;
    border-radius: 24px;
  }
  .Liste-Ingredients {
    max-width: 50%;
    margin: 2rem -1rem 3rem 32rem;
    text-align: center;
    align-items: center;
  }
}
