* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h2 {
  color: #2f5b12;
  text-align: center;
  margin: 2rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  text-align: center;
  font-weight: bolder;
}

.image-box img {
  width: 19rem;
  max-width: 300px;
  height: auto;
  display: block;
}
